#carouselExample {
    max-width: 600px;
    margin: auto; 
  }
  h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .card {
    margin-bottom: 0%;
  }
  body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    flex-wrap: wrap;
  }

  .footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
  }
  .footer a {
    color: #ffffff;
  }
  body{
    background-color: #000000;
  }
  .contenedor-icono svg{
    width: 300px;
    height: 400px;
    color: green;
  }